body {
  margin: 0;
  padding: 0;
}

header {
  background-color: grey;
  display: flex;
  text-align: center;
  padding: 30px;
}

header div {
  width: 33%;
}

header div:nth-child(2) {
  font-size: 50px;
}

header div:nth-child(2) img {
  height: 50px;
  vertical-align: middle;
}

main {
  background-color: #2d3436;
}

main div {
  margin: auto;
  color: #dfe6e9;
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

a {
  text-decoration: none;
  color: #dfe6e9;
}

a:hover {
  color: #d41920;
}

.about {
  width: 75%;
  background: linear-gradient(#2d3436, 80%, transparent),
    url('cncMilling_1.png');
  height: 55vh;
  background-size: cover;
}

.services,
.contact {
  background-color: #d41920;
}

.servicesList,
.contactInfo {
  display: flex;
}

.contactInfo > div {
  width: 33%;
}

.serviceContent {
  background-color: #dfe6e9;
  color: #2d3436;
}

.map {
  background-image: url('./map.png');
  background-size: contain;
  margin: 0;
}
